.about {
  margin: 8rem 0;
  padding: 8rem 0;
}

.about-background__img {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 49%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.about__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}

.about-heading.right {
  margin-left: auto;
}

.about-sub__heading {
  color: #858585;
  letter-spacing: -0.5px;
  max-width: 92%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2.5rem;
}
